In [1]:
from pathlib import Path

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from pybaseball import team_game_logs

In [2]:
pitching_logs = team_game_logs(2021, "LAA", "pitching")

In [4]:
pitching_logs.head()

   Game  ...                                       PitchersUsed
0     1  ...  D.Bundy (99-53), A.Slegers (99), M.Mayers (99-...
1     2  ...  A.Heaney (99-23-L), J.Guerra (99), C.Rodriguez...
2     3  ...      A.Cobb (99-50), T.Watson (99), J.Guerra (0-W)
3     4  ...  S.Ohtani (99-54), S.Cishek (1), A.Slegers (2-H...
4     5  ...  J.Quintana (99-36), C.Rodriguez (2), A.Claudio...

[5 rows x 33 columns]